<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

    <br>
<div class="container">
<form method="post" class="form-group" style="max-width: 215px;">
    <div>
        <input class="form-control" type="text" name="searchTerm"/>
        <br>
        <input type="submit" value="Search">
    </div>
</form>
</div>
<div th:replace="fragments :: js-footer"></div>
</body>
</html>