<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form>
    <label th:for="username">Username:
        <input type="text" name="username"/>
    </label>

    <label th:for="password">Password:
        <input type="password" name="password"/>
    </label>

    <input type="submit">

</form>

<a href="/user/sign-up">Sign Up</a>

</body>
</html>