<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form class="form-group">
    <label th:for="title">Title:</label>
    <br>
    <input style="width: 500px;" type="text" name="title" class="form-control"/>
        <br>
        <br>
    <input style="width: 500px; height: 200px" type="text-area" name="body" class="form-control"/>
        <br>
    <input type="submit"/>

</form>

</body>
</html>