body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 20px;
}

.jumbotron {
  background-image: url("/uploads/4.jpg");
  background-size: cover;
}

.jumbotron h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 3.3em;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

.jumbotron h2{
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5em;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }


}



