<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" action="/add-comment" th:object="${comment}">
    <label th:for="commentBody">Add comment (500 characters max): </label>
    <textarea style="width: 500px;" name="commentBody" class="form-control" th:field="*{commentBody}"></textarea>
    <span th:errors="*{commentBody}" class="error"></span>

    <a th:href="'/add-comment/' + ${post.id}">Add Comment</a>
</form>

<table th:each="postComment : ${post.comments}">
    <br>
    <p th:text="${postComment.commentBody}"></p>
    <br>



</body>
</html>