<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <br>
    <form method="post" class="form-group" th:object="${post}">
        <label th:for="title">Title:</label>
            <br>
        <input style="width: 500px;" type="text" name="title" class="form-control" th:field="*{title}"/>
        <span th:errors="*{title}" class="error"></span>
            <br>
            <br>
        <label th:for="body">Post (1500 characters max): </label>
        <textarea style="width: 500px;" name="body" class="form-control" th:field="*{body}"></textarea>
        <span th:errors="*{body}" class="error"></span>
            <br>
            <br>
        <input type="submit"/>
    </form>
</div>
<div th:replace="fragments :: js-footer"></div>
</body>
</html>