<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<br>
<h3 th:text="${post.title}"></h3>

<p style="text-size: 5pt; color: gray" th:text="${post.user.name}"></p>

<p th:text="${post.body}"></p>
<p style="text-size: 5pt; color: gray;" name="date" th:text="${post.created}"></p>

<input name="postId" type="hidden" value="${post.id}"/>

<form action="/add-comment" th:object="${comment}">
<label th:for="commentBody">Add comment (500 characters max): </label>
<textarea style="width: 500px;" name="commentBody" class="form-control" th:field="*{commentBody}"></textarea>
<span th:errors="*{commentBody}" class="error"></span>

    <a th:href="'/add-comment/' + ${post.id}">Add Comment</a>
</form>

    <table th:each="comment : ${post.comments}">
        <br>
        <p th:text="${comment.commentBody}"></p>
        <br>
    </table>



</body>
</html>