<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<br>
<h3 th:text="${post.title}"></h3>

<p style="text-size: 5pt; color: gray" th:text="${post.user.name}"></p>

<p th:text="${post.body}"></p>
<p style="text-size: 5pt; color: gray;" name="date" th:text="${post.created}"></p>

<a th:href="'/delete-post/' + ${post.id}">Delete</a>

</form>

</body>
</html>