<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<br>
<form method="post" style="max-width:600px;" th:object="${form}">
    <div class="form-group">
        <label th:for="postId">Cheese</label>
        <select name="postId">
            <option th:each="post : ${posts}"
                    th:text="${post.name}"
                    th:value="${post.id}"></option>
        </select>
        <input type="hidden" name="id" th:value="${id}" />
        <span th:errors="${form}" class="error"></span>
    </div>

    <input type="submit" value="Add Post" />

</form>

</body>
</html>