<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div class="container" th:object="${user}">
    <br>
    <img th:src="${'/uploads/' + profilePic}" th:alt="${profilePic}" width="150px"/>
    <br>
    <br>
    <button><a th:href="'/send-message/' + ${user.id}" th:text="'Message ' + ${user.name}"></a></button>
    <br>
    <br>
    <table th:each="post : ${posts}">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 th:inline="text"><a th:href="'/post/'+ ${post.id}"
                                                th:text="${post.title}"></a></h3>
                        <p class="card-text" th:text="${post.body}"></p>
                        <small  style="text-size: 5pt; color: gray" name="date" th:inline="text">Created <small th:text="${post.created}"/> | </small>
                        <small style="text-size: 5pt; color: gray" name ="commentCount" th:inline="text">Comments (<small th:text="${post.comments.size()}"/>) </small>

                    </div>
                </div>
            </div>
        </div>
    <br>
    </table>
</div>

<div th:replace="fragments :: js-footer"></div>
</body>
</html>