<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">


<nav th:replace="fragments :: navigation"></nav>


<div class="container" th:object="${user}">
    <a th:href="'/send-message/' + ${user.id}" th:text="'Message ' + ${user.name}"></a>
    <br>
    <br>
    <table th:each="post : *{posts}">

        <h3 th:inline="text"><a th:href="'/post/'+ ${post.id}" th:text="${post.title}"/></h3>
        <p th:text="${post.body}"></p>
        <small  style="text-size: 5pt; color: gray" name="date" th:inline="text">Created: <small th:text="${post.created}"/> | </small>
        <small style="text-size: 5pt; color: gray" name ="commentCount" th:inline="text">Comments: <small th:text="${post.comments.size()}"/> | </small>
        <br>
        <br>
    </table>
</div>
<div th:replace="fragments :: js-footer"></div>
</body>
</html>