<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<!--<h1 th:text="'Posts by ' + ${user.name}"></h1>-->

<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <div class="text-center">
        <img th:src="@{'/myImage/imageDisplay/' + ${id}}" th:alt="${profilePic}" width="150px"/>
        <br>
        <br>
        <form th:action="'/upload/' + ${user.id}">
        <button type="submit"> Upload a Photo</button>
        </form>
        <br>
        <p th:unless="${posts} and ${posts.size()}">No posts yet.</p>
    </div>
    <table th:each="post : ${posts}">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 th:inline="text"><a th:href="'/post/'+ ${post.id}"
                                                th:text="${post.title}">
                        </a><small style="text-size: 5pt; color: gray" th:inline="text">  by <a th:href="'profile/' + ${post.user.id}" th:text="${post.user.name}"/></small></h3>
                        <p class="card-text" th:text="${post.body}"></p>
                        <small  style="text-size: 5pt; color: gray" name="date" th:inline="text">Created <small th:text="${post.created}"/> | </small>
                        <small style="text-size: 5pt; color: gray" name ="commentCount" th:inline="text">Comments (<small th:text="${post.comments.size()}"/>) | </small>
                        <small th:inline="text"> <a name="confirm" onclick="return window.confirm('Are you sure you want to delete this post?')" th:href="'/delete-post/' + ${post.id}">Delete</a></small>
                    </div>
                </div>
            </div>
        </div>
    <br>
    </table>
</div>



<div th:replace="fragments :: js-footer"></div>


</body>
</html>