<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<br>
<a href="/new-post">New Post</a>
<br>
<div class="form-group" th:object="${user}">
<table th:each="post : *{posts}">
    <h3 th:text="${post.title}"></h3>
    <p th:text="${post.body}"></p>
    <label for="date">Created:<p id="date" style="size: 5px; color: gray;" th:text="${post.created}"></p></label>
</table>
</div>

<a href="/logout">Log Out</a>


</body>
</html>