<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>


<div class="container">
<br>
    <form method="post" th:action="'/upload/' + ${id}" enctype="multipart/form-data">
        <input type="file" name="file" />
        <br>
        <br>
        <input type="submit" value="Upload" />
<!--        TODO get this message to display-->
        <div th:if="${message}">
            <p th:text="${message}"/>
        </div>
    </form>


</div>

<div th:replace="fragments :: js-footer"></div>
</body>
</html>