<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div class="container">
<br>
<div class="table">
    <a href="https://www.w3schools.com">W3 Schools</a>
    <br>
    <a href="https://www.udacity.com">Udacity</a>
    <br>
    <a href="https://www.freecodecamp.org">freeCodeCamp</a>


</div>
</div>
<div th:replace="fragments :: js-footer"></div>
</body>
</html>