<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div class="container">
<br>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">W3 Schools</h5>
                    <p class="card-text">"W3Schools is optimized for learning, testing, and training."</p>
                    <a class="card-link" href="https://www.w3schools.com">W3 Schools</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Udacity</h5>
                    <p class="card-text">"Match your goals to our programs, explore your options, and map out your path to success."</p>
                    <a class="card-link" href="https://www.udacity.com">Udacity</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">freeCodeCamp</h5>
                    <p class="card-text">"Our mission: to help people learn to code for free."</p>
                    <a class="card-link" href="https://www.freecodecamp.org">freeCodeCamp</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <br>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">LaunchCode</h5>
                    <p class="card-text">"LaunchCode matches you with world class learning resources
                        and job opportunities to help you launch your career in technology"</p>
                    <a class="card-link" href="https://www.launchcode.org">LaunchCode</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Codecademy</h5>
                    <p class="card-text">"Join the Millions Learning to Code with Codecademy"</p>
                    <a class="card-link" href="https://www.codecademy.com">Codecademy</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Coursera</h5>
                    <p class="card-text">"100% online learning from the world’s best universities and companies"</p>
                    <a class="card-link" href="https://www.coursera.org">Coursera</a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<div th:replace="fragments :: js-footer"></div>
</body>
</html>