<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">


<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/home" th:text="'STL_Code | ' + ${title}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                </li>
                </li>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
                        Posts
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/forum">All Posts</a>
                        <a class="dropdown-item" href="/new-post">New Post</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
                        Messages
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/inbox">Inbox</a>
                        <a class="dropdown-item" href="/sent">Sent</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
                        Me
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources">Resources</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 class="display-4">A place for St. Louis-based developers to exchange ideas and support one another.</h1>
        <p class="lead"> </p>
<br>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://github.com/KeeArchambault" role="button">Learn more</a>
        </p>

    </div>

</div>

<div th:replace="fragments :: js-footer"></div>
</body>
</html>