<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${messages} and ${messages.size()}">No messages.</p>

<div>
    <table th:each="message : ${messages}">
        <h3 th:inline="text"><a th:href="'/received-message/'+ ${message.id}"
                                th:text="${message.subject}">
        </a><small style="text-size: 5pt; color: gray" th:inline="text">  from <a th:href="'profile/' + ${message.sender.id}" th:text="${message.sender.name}"/></small></h3>
        <p th:text="${message.body}"></p>
        <small  style="text-size: 5pt; color: gray" name="date" th:inline="text">Sent: <small th:text="${message.created}"></small> | </small>
        <a th:href="'/delete-message/' + ${message.id}">Delete</a>
            <br>
            <br>
    </table>
</div>
</body>
</html>