<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <br>
    <form method="post" th:action="'/send-message/'+ ${recipientId} + '/' + ${senderId}" th:object="${message}">
        <label th:for="subject">Subject:</label>
            <br>
        <input type="text" name="subject" class="form-control" th:field="*{subject}"/>
        <span th:errors="*{subject}" class="error"></span>
            <br>
            <br>
        <label th:for="body">Message (500 characters max): </label>
        <textarea name="body" class="form-control" th:field="*{body}"></textarea>
        <span th:errors="*{body}" class="error"></span>
        <intput type="hidden" name="recipientId" th:value="${recipientId}"></intput>
        <intput type="hidden" name="senderId" th:value="${senderId}"></intput>
            <br>
            <br>
        <input type="submit"/>
    </form>
</div>

<div th:replace="fragments :: js-footer"></div>
</body>
</html>