<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <br>
    <h4 style="text-size: 5pt; color: gray" th:inline="text">  from <a th:href="'../profile/' + ${message.sender.id}" th:text="${message.sender.name}"/></h4>
    <p th:text="${message.body}"></p>
    <small  style="text-size: 5pt; color: gray" name="date" th:inline="text">Created <small th:text="${message.created}"/> | </small>
    <small th:inline="text"><a th:href="'/delete-message/' + ${message.id}">Delete</a></small>
</div>

<div th:replace="fragments :: js-footer"></div>
</body>
</html>