<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<!--TODO include reply form-->
<div class="container">
    <br>
<h3 th:inline ="text" th:text="${message.subject}"/></h3>

<p th:text="${message.body}"></p>
<small  style="text-size: 5pt; color: gray" name="date" th:inline="text">Created: <small th:text="${message.created}"/> </small>
    <a th:href="'/delete-message/' + ${message.id}">Delete</a>
</div>

<div th:replace="fragments :: js-footer"></div>
</body>
</html>